body {
    background-color: #666;
}

.title, .subtitle {
    color: #fff;
    text-align: center;
}

.title {
    font-family: "Amatic SC",sans-serif;
    font-size: 100px;
    font-weight: 700;
}

.subtitle {
    font-family: "Permanent Marker", sans-serif;
    font-size: 60px;
}

.container{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn {
    height: 100px;
    border-radius: 20px;
}

.btn-move {
    width: 100px;
    background-color: #ccc;
    color: #000;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 1px 2px #fff, inset -1px -1px 2px #000;
}

.btn-start, .btn-again {
    width: 300px;
    font-family: "Amatic SC",sans-serif;
    font-size: 50px;
    background-color: #ccc;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 1px 2px #fff, inset -1px -1px 2px #000;
}

.btn-move:active{
    box-shadow: inset 1px 1px 2px #000, inset -1px -1px 2px #fff;
}

#result {
    text-align: center;
    font-size: 100px;
    font-family: "Bebas Neue", sans-serif;
}

.hide {
    display: none;
}