body {
    background-color: #000;
}

.subtitle::before, .subtitle::after {
    width: max-content;
}

.subtitle::before {
    content: attr(player-score);
    text-align: left;
    margin-right: 30px;
}

.subtitle::after {
    content: attr(comp-score);
    text-align: right;
    margin-left: 30px;
}

.title, .subtitle, .btn-pri {
    color: #E6FFFF;
    text-shadow: 0 0 10px;
    text-align: center;
    margin: 10px;
}

.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 100px;
    font-weight: 900;
}

.subtitle, .btn-pri {
    font-family: 'Share Tech Mono', monospace;
    font-size: 60px;
}

.user, .subtitle::before {
    color: #6FC3DF;
}

.comp, .subtitle::after {
    color: #DF740C;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn {
    height: max-content;
    text-align: center;
    border: 5px solid #E6FFFF;
    width: max-content;
    padding: 10px 20px;
    box-shadow: 0 0 10px 2px #E6FFFF;
}

.btn:hover {
    cursor: pointer;
}

#result {
    text-align: center;
    font-size: 50px;
    font-family: 'Major Mono Display', monospace;
    color: #E6FFFF;
    margin: 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.user-choice {
    background-color: #6FC3DF;
}

.comp-choice {
    background-color: #DF740C;
}

.tied {
    background-color: #FFE64D;
}

.user-choice, .comp-choice, .tied {
    color: #0C141F;
    text-shadow: none;
}

@media screen and (max-width: 700px){

    .title {
        font-size: 50px;
    }

    .subtitle, .btn-pri, #result {
        font-size: 30px;
    }


}